# Exercise 1

x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [25]:
x = float(3)
x

3.0

In [26]:
y = int(4.5)
y

4

In [27]:
z = int("8")
z

8

In [28]:
a = float("12")
a

12.0

In [29]:
b = int(float("46.8"))
b

46

In [30]:
type(b)

int

# Excersice 2

Üç değişken belirleyelim, bu değişkenler kişi adı olsun. Değişkenlere kişilerin yaşlarını atayalım. (ÖRN: ayse=22)

Belirlediğimiz üç değişkeni birbiriyle karşılaştırma operatörleri ile karşılatıralım. (ayse>mehmet)

Bu karşılaştırmalara mantıksal operatörleri de ekleyelim.

In [8]:
ayse = 21
mehmet = 29
ahmet = 25
ahmet

25

In [16]:
ayse > mehmet

False

In [17]:
ayse > ahmet

False

In [18]:
ayse < mehmet

True

In [19]:
ayse < ahmet

True

In [20]:
ahmet > mehmet

False

In [21]:
ahmet > ayse

True

In [22]:
ahmet < mehmet

True

In [23]:
ahmet < ayse

False

In [24]:
ahmet != ayse

True

In [9]:
ayse != mehmet

True

In [11]:
mehmet != ahmet

True

In [35]:
not(ahmet < 25 and mehmet > 29)

True

In [38]:
not(ahmet < 25 and ayse > 20)

True

# Excercise 3

Kullanıcıdan iki değer girmesini isteyin. Girilen değerlerin toplama,çıkarma,çarpma,bölme sonuçlarını yazdıralım.

In [2]:
bir = input("1.Değeri Giriniz: ")
iki = input("2.Değeri Giriniz: ")
float(bir) * float(iki)

1.Değeri Giriniz: 4
2.Değeri Giriniz: 5

20.0

In [3]:
bir = input("1.Değeri Giriniz: ")
iki = input("2.Değeri Giriniz: ")
float(bir) + float(iki)

1.Değeri Giriniz: 5
2.Değeri Giriniz: 7

12.0

In [4]:
bir = input("1.Değeri Giriniz: ")
iki = input("2.Değeri Giriniz: ")
float(bir) - float(iki)

1.Değeri Giriniz: 20
2.Değeri Giriniz: 6

14.0

In [5]:
bir = input("1.Değeri Giriniz: ")
iki = input("2.Değeri Giriniz: ")
float(bir) / float(iki)

1.Değeri Giriniz: 22
2.Değeri Giriniz: 3

7.333333333333333

# Excercise 4

Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini isteyelim ve cevaplarını yazdıralım.

In [1]:
isim = input("İsminiz: ")
isim

İsminiz: Uzay

'Uzay'

In [2]:
yas = input("Yaş: ")
yas

Yaş: 99

'99'

In [3]:
sehir = input("Yaşadığınız Şehir: ")
sehir

Yaşadığınız Şehir: Tokyo

'Tokyo'

In [4]:
meslek = input("Mesleğiniz: ")
meslek

Mesleğiniz: Serbest Meslek

'Serbest Meslek'

# Excersice 5 

"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlayalım.
- İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçelim.
- İfadeyi hepsini büyük harf olacak hale çevirelim.  ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
- İfadeyi hepsini büyük harf olacak hale çevirelim.("hi-kod veri bilimi atölyesi")

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçelim. ("02468", "13579")

In [31]:
atolye = "Hi-Kod Veri Bilimi Atölyesi"
atolye

'Hi-Kod Veri Bilimi Atölyesi'

In [54]:
atolye [0:27:1]

'Hi-Kod Veri Bilimi Atölyesi'

In [61]:
atolye [0:6]

'Hi-Kod'

In [60]:
atolye [7:11]

'Veri'

In [62]:
atolye [12:18]

'Bilimi'

In [63]:
atolye [19:27]

'Atölyesi'

In [65]:
atolye.lower()

'hi-kod veri bilimi atölyesi'

In [64]:
atolye.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [2]:
sayi = "0123456789"
sayi

'0123456789'

In [3]:
sayi[0:9:2]

'02468'

In [4]:
sayi[1:9:2]

'1357'